
@{
    ViewBag.Title = "ForgotPassword";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <title>Animated Login Page #02 </title>
    <!-- Add jQuery here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>


    <div class="container">
        <div class="logo-section">
            <header>
                <img class="companyname-section" style="width: 394px; height: 123px;" src="~/Content/assets/images/Stellantis_logo_blue_background.jpg" />
            </header>
        </div>

        <div class="signup-section">
            <header>FORGOT PASSWORD</header>
            @*<div class="social-buttons">
                    <button><i class="bx bxl-google"></i>Use Google</button>
                    <button><i class="bx bxl-apple"></i>Use Apple</button>
                </div>*@

            @*<div class="separator">
                    <div class="line"></div>
                    <p>Or</p>
                    <div class="line"></div>
                </div>*@

        <form>
            <input type="text" id="olduser" placeholder="User ID" required>
            <div class="password-container">
                <input type="password" id="NewPswrd" placeholder="New Password" required>
                <i class="bx bx-hide" id="NewtogglePassword" style="cursor: pointer;"></i>
            </div>
            <div class="password-container">
                <input type="password" id="cnfrmpswrd" placeholder=" Confirm Password" required>
                <i class="bx bx-hide" id="ConfirmtogglePassword" style="cursor: pointer;"></i>
            </div>   
            <a href="@Url.Action("Index","Login")">Do you Want To Go SignIn Page?</a>
            <button type="submit" id="UpdateButton" class="btn">UPDATE PASSWORD</button>
        </form>
        </div>
        <div class="login-section">
            <header>LOGIN</header>
            @*<div class="social-buttons">
                    <button><i class="bx bxl-google"></i>Use Google</button>
                    <button><i class="bx bxl-apple"></i>Use Apple</button>
                </div>*@

            @*<div class="separator">
                    <div class="line"></div>
                    <p>Or</p>
                    <div class="line"></div>
                </div>*@

            <form>
                <input type="text" id="Userid" placeholder="User ID" required>
                <div class="password-container">
                    <input type="password" id="passwordid" placeholder="Password" required>
                    <i class="bx bx-hide" id="togglePassword" style="cursor: pointer;"></i>
                </div>
                <a href="@Url.Action("ForgotPassword","Login")">Forgot Password?</a>
                <button type="submit" id="loginbt" class="btn">LOGIN</button>
            </form>


        </div>

    </div>

    <script src="~/Content/assets/js/pages/script.js"></script>
    <script>
        $(document).ready(function () {
            $("#loginbt").click(function (event) {
                event.preventDefault(); // Prevent the default form submission

                console.log("Login button clicked");
                var UserId = $("#Userid").val();
                var password = $("#passwordid").val();
                console.log("User ID:", UserId);
                console.log("Password:", password);

                if (UserId !== "" && password !== "") {
                    console.log("Calling LoginMethod");
                    LoginMethod(UserId, password);
                } else {
                    alert("Please enter UserID and Password");
                }
            });

            $('#NewtogglePassword').click(function () {
                // Toggle the type attribute
                const type = $('#NewPswrd').attr('type') === 'text' ? 'password' : 'text';
                $('#NewPswrd').attr('type', type);

                // Toggle the eye / eye slash icon
                $(this).toggleClass('bx-hide bx-show');
            });
            $('#ConfirmtogglePassword').click(function () {
                // Toggle the type attribute
                const type = $('#cnfrmpswrd').attr('type') === 'text' ? 'password' : 'text';
                $('#cnfrmpswrd').attr('type', type);

                // Toggle the eye / eye slash icon
                $(this).toggleClass('bx-hide bx-show');
            });
            $("#UpdateButton").click(function (event) {
                event.preventDefault(); // Prevent the default form submission

                console.log("Signin button clicked");
                
                var oldUserId = $("#olduser").val();
                var Newpassword = $("#NewPswrd").val();
                var Confirmpassword = $("#cnfrmpswrd").val();
                console.log(" OldUser:", oldUserId);
                console.log("NewPassword:", Newpassword);
                console.log("confirm Password:", Confirmpassword);

                if (Newpassword == Confirmpassword) {
                    if (oldUserId !== "" && Newpassword !== "" && Confirmpassword !== "") {
                        console.log("Calling PasswordUpdated Method");
                        PasswordUpdateMethod(oldUserId,Newpassword,Confirmpassword);
                    } else {
                        alert("Please enter  UserID and NewPassword and Confirm Password");
                    }
                }
                else {
                    alert("New Password  And Confirm Passwords are Mismatched....");
                }
                

               
            });


            function PasswordUpdateMethod(oldUserId, Newpassword,Confirmpassword) {
                $.ajax({
                    type: 'POST',
                    url: '/Login/UserPasswordUpdate', // Adjust this URL to your actual endpoint
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ Userid: oldUserId, Newpassword: Newpassword, Confirmpassword: Confirmpassword }),
                    success: function (resultData) {
                        if (resultData.success) {
                            alert(resultData.message);
                            // Redirect to the Index view of the Home controller
                            window.location.href = '/Login/Index';
                        } else if (resultData.Datainsertsuccess) {
                            alert(resultData.message);
                            window.location.href = '/Login/Index';
                        }
                        else if (resultData.DataInsertederror) {
                            alert(resultData.message);
                            window.location.href = '/Login/Index';
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }






            $('#togglePassword').click(function () {
                // Toggle the type attribute
                const type = $('#passwordid').attr('type') === 'password' ? 'text' : 'password';
                $('#passwordid').attr('type', type);

                // Toggle the eye / eye slash icon
                $(this).toggleClass('bx-hide bx-show');
            });
        });

        function LoginMethod(UserId, password) {
            $.ajax({
                type: 'POST',
                url: '/Login/UserLogin', // Adjust this URL to your actual endpoint
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ userid: UserId, password: password }),
                success: function (resultData) {
                    if (resultData.success) {
                        alert(resultData.message);
                        // Redirect to the Index view of the Home controller
                        window.location.href = '/Home/Index';
                    } else {
                        alert(resultData.message);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>
</body>

</html>
